html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
    color: #444;
    font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

h1, h2, h3, h4, h5, h6{
    margin: 10px 0;
    font-weight: 700;
    color: #444;
    font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
    letter-spacing: -1px;
}

#nav ul  {
    text-align: center;
}

#nav li  {
    list-style:none;
    display: inline;
    letter-spacing: 1px;
    padding: 0 10px;
}

#container{
    min-width: 800px;
}
#inner{
    margin:0 auto;
    width:800px;
    padding-bottom: 40px;
    padding:0 20px;
}

#inner img{
    float:right;
}
.content{
    float:left;
    padding-bottom:40px;
}
#header{
    text-align: center;
    padding-bottom: 30px;
}
#footer{
    font-size: 12px;
    text-align: left;
    max-width: 800px;
    margin:0 auto;
    padding:20px 0;


}
#footer_wrap{
    clear:both;
    width:100%;
    background: #ddd;
    border: 1px solid #777;
}
#footer p {
    color: #777;
}
.content ul{
    padding:20px 0 0 20px;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    color:#777;
}
a:visited{
    color:#777;
}
a:hover{
    color:#444;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

h1 {
	color: #777;	
	font-size: 32px;
    margin: 15px 0 20px;
}
h2 {
    font-size: 24px
}
p{
    margin-top: 10px;
}